[Desktop Entry]
Name=multiplicationstation Admin
Name[ru]=multiplicationstation #####
Name[it]=multiplicationstation (modalità Amministratore)
GenericName=Mental calculation
GenericName[ru]=###### ####
GenericName[it]=Calcolo a mente
Comment=Math game will teach your child to add, subtract and multiply with administration mode enabled
Comment[ru]=######### ### ########## ##### # ###### ##### (##### ##############)
Comment[it]=Gioco matematico che insegnerà al tuo bambino a sommare, sottrarre e moltiplicare con la modalità amministratore abilitata
Exec=%{_gamesbindir}/%{name} -wx
Icon=%{name}
Terminal=false
Type=Application
Categories=Game;BoardGame;
